*
{
    padding: 0;
    margin: 0;
}

div.box
{
    height: 00px;
    /* margin: auto; */
    margin-top: 130px;
}

form > div
{
    margin-bottom: 20px;
}

input[type=submit]
{
    margin-top: 30px;
}

table
{
    width: 100%;
    margin-top: 28px;
}

div.wrap > *
{
    padding: 20px;
}

form
{
    margin-top: -20px;
}

.delete
{
    margin-top: 13px;
}

.tag
{
    margin-bottom: 10px;
    padding: 20px;
}